<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<!-- 	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/> <listener 
			class-name="org.uncommons.reportng.JUnitXMLReporter"/>
		<listener class-name="listenerss.MyTestListener" />
	</listeners> -->
	<test name="Test">
		<classes>
			<class name="extent.ExtentDemo">
				<!-- <methods> <include name="execute" /> </methods> -->
			</class>
		</classes>
	</test>
	<!-- <test name="Test1"> <classes> <class name="testngexamples.TestNGDemo"> 
		<methods> <include name="execute" /> </methods> </class> </classes> </test>Test -->
</suite> <!-- Suite -->
